
@import url(/css/common/style.css);

/*--------------------------------------------------*/
/*	OVERRIDES
/*--------------------------------------------------*/

#background {
	z-index: -1;
	position: fixed;
	top: -40px;
	left: -40px;

	width: calc(100% + 80px);
	height: calc(100% + 80px);

	filter: blur(20px) brightness(0.6);
	background: url("/tracks/IAa9x1/watermarked.jpg");
	background-position: center;
	background-size: cover;
}

/*--------------------------------------------------*/
/*	GENERAL
/*--------------------------------------------------*/

body {
	padding: 2rem;
}

h1 {
	width: 100%;
	margin-bottom: 1.5rem;

	color: #FFFFFF;
	font-weight: 600;
	text-align: center;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.list .track {
	display: flex;

	align-items: center;

	padding: 10px;
	border-radius: 5px;

	background: rgba(0,0,0,0.35);
	backdrop-filter: blur(10px);

	color: #eee;
	text-decoration: none;
}

.list .track:hover {
	background: rgba(0,0,0,0.45);
}

.list .track .cover {
	width: 64px;
	height: 64px;

	border-radius: 3px;
	object-fit: cover;
	flex-shrink: 0;
}

.list .track .info {
	display: flex;
	margin-left: 1rem;

	flex-direction: column;
	justify-content: center;

	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
}

.list .track .title {
	font-weight: 600;
	font-size: 0.95rem;
}

.list .track .duration {
	font-size: 0.75rem;
	opacity: 0.75;
}

/*

#latest .text {
	display: flex;
	flex-direction: column;

	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
}
*/
