
@import url(/css/common/style.css);

/*--------------------------------------------------*/
/*	OVERRIDES
/*--------------------------------------------------*/

#shade {
	animation: reveal 1.25s ease forwards;
}

#background {
	z-index: -1;
	position: fixed;
	top: -40px;
	left: -40px;

	width: calc(100% + 80px);
	height: calc(100% + 80px);

	filter: blur(20px) brightness(0.6);
	background: url("/tracks/IAa9x1/watermarked.jpg");
	background-position: center;
	background-size: cover;
}

.container {
}

#insta {
	overflow: hidden;

	position: fixed;
	top: 20px;
	left: 20px;

	width: 48px;
	height: 48px;

	border: 2px solid #FFFFFF;
	border-radius: 50%;
	box-shadow: 0 0 20px #282828C8;
}

#insta img {
	width: 100%;
	height: auto;
}

/*--------------------------------------------------*/
/*	GENERAL
/*--------------------------------------------------*/

body {
	padding: 20px;
}

h1 {
	width: 100%;
	height: 48px;

	padding: 5px 0;
	margin-bottom: 20px;

	color: #FFFFFF;
	font-weight: 600;
	text-align: center;
	font-size: 2em;
}

.list {
	display: grid;
	gap: 15px;
}

.list .track {
	padding: 10px;

	background: rgba(0,0,0,0.35);
	backdrop-filter: blur(10px);
	border-radius: 10px;

	color: #eee;
	text-decoration: none;
}

.list .track:hover {
	background: rgba(0,0,0,0.45);
}

.list .track .cover {
	width: 100%;
	height: auto;

	border-radius: 5px;
	object-fit: cover;
	flex-shrink: 0;
}

.list .track .info {
	display: flex;
	margin-top: 5px;

	flex-direction: column;
	justify-content: center;

	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
}

.list .track .title {
	font-weight: 600;
	font-size: 0.95rem;
	text-align: center;
	padding: 5px 10px;
}

.list .track .duration {
	z-index:  3;
	position: absolute;
	top: -40px;
	right: 10px;
}

.tag,
ul.tags li {
	padding: 2px 8px;

	background: #FFFFFF;
	border-radius: 10px;

	font-weight: bold;
	font-size: 0.75rem;
	color: #404040;
}

/*

#latest .text {
	display: flex;
	flex-direction: column;

	color: #FFFFFF;
	line-height: 18px;
	text-align: left;
}
*/


.container {
	padding: 0 calc(50% - 150px);
}

.list {
	grid-template-columns: repeat(1, 1fr);
}


/* Mobile / Tablet */
@media screen and (min-width: 600px) {
	.container {
		padding: 0 calc(50% - 300px);
	}

	.list {
		grid-template-columns: repeat(2, 1fr);
	}
}


/* Mobile / Tablet */
@media screen and (min-width: 900px) {
	.container {
		padding: 0 calc(50% - 450px);
	}

	.list {
		grid-template-columns: repeat(3, 1fr);
	}
}




